<!-- Application/view/application/article/add.phtml -->

<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<div class="row">
    <div class="col-sm-8 blog-main">
        
        <h2><?php echo $this->translate('Add article') ?></h2>
        
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('application/article', array('action' => 'process')));
        $form->setAttribute('method', 'post');

        echo $this->form()->openTag($form); ?>
        
        <?php echo $this->formElement($form->get('id')); ?>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('title')); ?>
            <?php echo $this->formElement($form->get('title'));
            echo $this->formElementErrors($form->get('title')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('content')); ?>
            <?php echo $this->formElement($form->get('content'));
            echo $this->formElementErrors($form->get('content')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('summary')); ?>
            <?php echo $this->formElement($form->get('summary'));
            echo $this->formElementErrors($form->get('summary')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('categoryId')); ?>
            <?php echo $this->formElement($form->get('categoryId'));
            echo $this->formElementErrors($form->get('categoryId')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('tags')); ?>
            <?php echo $this->formElement($form->get('tags'));
            echo $this->formElementErrors($form->get('tags')); ?>
        </div>
        
        <div class="form-group">
            <label>Опубликовать
                <?php echo $this->formElement($form->get('isPublished'));
                echo $this->formElementErrors($form->get('isPublished')); ?>
            </label>
        </div>
        
        <div class="form-group">
            <?php echo $this->formElement($form->get('submit'));
            echo $this->formElementErrors($form->get('submit')); ?>
            
            <a class="btn btn-default" href="<?php echo $this->url('application/article',
                array('action' => 'index')); ?>" role="button">Отмена</a>
            
            
        </div>
        
        <?php echo $this->form()->closeTag(); ?> 
        
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
    </div>
</div>  <!-- row -->



    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

