<!-- Application/view/application/article/edit.phtml -->

<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<div class="row">
    <div class="col-sm-8 blog-main">
        <?php if (!$this->error) : ?>
            <div class="blog-post">
                <h2><?php echo $this->escapeHtml($articleData['title']); ?></h2>

                <p class="blog-post-meta">
                    <?php echo $this->escapeHtml($articleData['created']); ?>
                    Автор: <a href="#"><?php echo $this->escapeHtml($articleData['author']); ?></a>
                    Категория: <?php echo $this->escapeHtml($articleData['category']); ?>
                    <br />
                <?php if(array_key_exists('updated', $articleData)) {echo "Обновлено: " . $this->escapeHtml($articleData['updated']);} ?>
                <br />
                <?php if(array_key_exists('published', $articleData)) {echo "Опубликовано: " . $this->escapeHtml($articleData['published']);} ?>
                <br />
                <?php if(array_key_exists('version', $articleData)) {echo "Версия: " . $this->escapeHtml($articleData['version']);} ?>
                <br />
                <?php if(array_key_exists('isPublished', $articleData)) {echo "Опубликовано: " . $this->escapeHtml($articleData['isPublished']);} ?>
                </p>
                <p>
                    <?php echo $this->htmlPurifier($articleData['content']); ?>
                </p>
            </div>  <!-- blog-post -->
        <?php endif; ?>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('application/article', array('action' => 'process')));
        $form->setAttribute('method', 'post');

        echo $this->form()->openTag($form); ?>

        <?php echo $this->formElement($form->get('id')); ?>
        
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('title')); ?>
            <?php echo $this->formElement($form->get('title'));
            echo $this->formElementErrors($form->get('title')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('content')); ?>
            <?php echo $this->formElement($form->get('content'));
            echo $this->formElementErrors($form->get('content')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('summary')); ?>
            <?php echo $this->formElement($form->get('summary'));
            echo $this->formElementErrors($form->get('summary')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('categoryId')); ?>
            <?php echo $this->formElement($form->get('categoryId'));
            echo $this->formElementErrors($form->get('categoryId')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('tags')); ?>
            <?php echo $this->formElement($form->get('tags'));
            echo $this->formElementErrors($form->get('tags')); ?>
        </div>
            
        <div class="form-group">
            <label>Опубликовать
                <?php echo $this->formElement($form->get('isPublished'));
                echo $this->formElementErrors($form->get('isPublished')); ?>
            </label>
        </div>
        
        <div class="form-group">
            <?php echo $this->formElement($form->get('submit'));
            echo $this->formElementErrors($form->get('submit')); ?>
            
            <a class="btn btn-default" href="<?php echo $this->url('application/article',
                array('action' => 'view', 'id' => $form->get('id')->getValue())); ?>" role="button">Отмена</a>
            
        </div>
        
        <?php echo $this->form()->closeTag() ?> 
        
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
    </div>
</div>  <!-- row -->



    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

