<!-- Application/view/application/article/view.phtml -->
<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2><?php echo $this->escapeHtml($articleData['title']); ?></h2>
            
            <p class="blog-post-meta">
                <?php echo $this->escapeHtml($articleData['created']); ?>,
                Автор: <a href="#"><?php echo $this->escapeHtml($articleData['author']); ?></a>,
                Категория: <?php echo $this->escapeHtml($articleData['category']); ?>
                <br />
                <?php if(array_key_exists('updated', $articleData)) {echo "Обновлено: " . $this->escapeHtml($articleData['updated']);} ?>
                <br />
                <?php if(array_key_exists('published', $articleData)) {echo "Опубликовано: " . $this->escapeHtml($articleData['published']);} ?>
                <br />
                <?php if(array_key_exists('version', $articleData)) {echo "Версия: " . $this->escapeHtml($articleData['version']);} ?>
                <br />
                <?php if(array_key_exists('isPublished', $articleData)) {echo "Опубликовано: " . $this->escapeHtml($articleData['isPublished']);} ?>
                <br />
                <?php if(array_key_exists('tags', $articleData)) {echo "Теги: " . $this->escapeHtml($articleData['tags']);} ?>
            </p>        
            
            <p>
                <?php echo ($this->htmlPurifier($articleData['content']))?>
            </p>
            <p>
                <?php if($articleData['editPermission']===true) { ?>
                    <a class="btn btn-default" href="<?php echo $this->url('application/article',
                        array('action' => 'edit', 'id' => $articleData['id'])); ?>" role="button">Редактировать</a>
                <?php } 
                if ($articleData['deletePermission']===true) { ?>
                    <a class="btn btn-default" href="<?php echo $this->url('application/article',
                        array('action' => 'delete', 'id' => $articleData['id'])); ?>" role="button">Удалить</a>
                <?php } ?>
            </p>
        </div>  <!-- blog-post -->
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
    </div>
</div>  <!-- row -->