<!-- Application/view/application/tag/index.phtml -->
<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <?php foreach($paginator as $tag) : ?>
        <div class="blog-post">
            <h2><a href="<?php echo $this->url('application/tag',
                array('action' => 'view', 'tag' => $tag['tag_name'])); ?>">
                <?php echo $this->escapeHtml($tag['tag_name']); ?></a>
                (<?php echo $this->escapeHtml($tag['articles_count']); ?>)
            </h2>
        </div>  <!-- blog-post -->
        <?php endforeach; ?>
        
        <?php   //блок для вывода пагинации из partial\partial.phtml
            // add at the end of the file after the table
            echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/tagPaginator.phtml',
                // the route to link to when a user clicks a control link
                array(
                    'route' => 'application/tag',
                    'action' => 'index',
                )
            );
        ?>
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
    </div>
</div>  <!-- row -->

