<!-- Application/view/application/tag/index.phtml -->
<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <?php foreach($paginator as $article) : ?>
        <div class="blog-post">
            <h2><a href="<?php echo $this->url('application/article',
                array('action' => 'view', 'id' => $article->id)); ?>">
                <?php echo $this->escapeHtml($article->title); ?></a></h2>
            <p class="blog-post-meta">
                <?php echo $this->escapeHtml($article->getCreated()); 
                $user = $this->getUser($article->authorId); ?>
                Автор: <a href="#"><?php echo $this->escapeHtml($user->username); ?></a>
                Категория: <?php echo $this->escapeHtml($this->getCategory($article->categoryId)); ?>
            </p>
            <p>
                <?php echo $this->htmlPurifier($this->cutText($article->content,1000)); ?>
            </p>
        </div>  <!-- blog-post -->
        <?php endforeach; ?>
        <?php   //блок для вывода пагинации из partial\partial.phtml
            // add at the end of the file after the table
            echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/tagPaginator.phtml',
                // the route to link to when a user clicks a control link
                array(
                    'route' => 'application/tag',
                    'action' => 'index',
                    'tag' => $tag,
                )
            );
        ?>
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
        <?php echo $this->partial('partial/manage.phtml'); ?>
    </div>
</div>  <!-- row -->

