<div class="sidebar-module">
    <h4><a href="<?php echo $this->url('application/category',
        array('action' => 'index')); ?>">Категории</a></h4>
    <ol class="list-unstyled">
        <?php foreach ($this->getLastCategories() as $category) : ?>
        <li>
            <a href="<?php echo $this->url('application/category',
        array('action' => 'view', 'id' => $category['id'])); ?>">
            <?php echo $this->escapeHtml($category['nameCategory']); ?></a>
        </li>
        <?php endforeach; ?>
    </ol>
</div>