<div class="sidebar-module">
    <h4>Manage</h4>
    <ol class="list-unstyled">
        <li>
            <?php if($addPermission===true) { ?>
                <a href="<?php echo $this->url('application/article',
                    array('action' => 'add')); ?>">Add</a>
            <?php } ?>
        </li>

    </ol>
</div>