<div class="sidebar-module sidebar-module-inset">
    <?php $user = $this->getUser(); ?>
        <h4><?php echo $this->translate('Hello'); ?>, <?php echo $this->escapeHtml($user->username); ?>!</h4>
        <p>
            Your ID is: <?php echo $this->escapeHtml($user->id); ?>
        </p>
        <p>
            Your email is: <?php echo $this->escapeHtml($user->email);  ?>
        </p>
        <p>
            Your timezone is: <?php echo $this->escapeHtml($user->timezone); ?>
        </p>
        <p>
            В последний раз Вы здесь были: 
        </p>
</div>