
<div class="sidebar-module">
    <h4><a href="<?php echo $this->url('application/tag',
        array('action' => 'index')); ?>">Теги</a></h4>
    <ol class="list-unstyled">
        <?php foreach ($this->ArticleTags() as $tag) : ?>
        <li>
            <a href="<?php echo $this->url('application/tag',
                array('action' => 'view', 'tag' => $tag['tag_name'])); ?>">
                <?php echo $this->escapeHtml($tag['tag_name']); ?></a>
            (<?php echo $this->escapeHtml($tag['articles_count']); ?>)
        </li>
        <?php endforeach; ?>
    </ol>
</div>