<!-- Application/view/application/category/edit.phtml -->

<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<div class="row">
    <div class="col-sm-8 blog-main">
        <?php if (!$this->error) : ?>
            <div class="blog-post">
                <h2>Категория: <?php echo $this->escapeHtml($category->nameCategory); ?></h2>

            </div>  <!-- blog-post -->
        <?php endif; ?>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('application/category', array('action' => 'process')));
        $form->setAttribute('method', 'post');

        echo $this->form()->openTag($form); ?>

        <?php echo $this->formElement($form->get('id')); ?>
        <?php echo $this->formElement($form->get('action')); ?>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('nameCategory')); ?>
            <?php echo $this->formElement($form->get('nameCategory'));
            echo $this->formElementErrors($form->get('nameCategory')); ?>
        </div>
                
        <div class="form-group">
            <?php echo $this->formElement($form->get('submit'));
            echo $this->formElementErrors($form->get('submit')); ?>
            
            <a class="btn btn-default" href="<?php echo $this->url('application/category',
                array('action' => 'index')); ?>" role="button">Отмена</a>
            
        </div>
        
        <?php echo $this->form()->closeTag() ?> 
        
    </div>  <!-- col-sm-8 blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <?php echo $this->partial('partial/sideBarModule1.phtml'); ?>
        <?php echo $this->partial('partial/archive.phtml'); ?>
        <?php echo $this->partial('partial/categories.phtml'); ?>
        <?php echo $this->partial('partial/tags.phtml'); ?>
    </div>
</div>  <!-- row -->



    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

