<!-- Application/view/application/register/index.phtml -->


<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>


<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<?php if ($this->description) : ?>
<p class="error">
    <?php echo $this->escapeHTML($this->description); ?>
</p>
<?php endif; ?>
        
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('application/register', array('action' => 'process')));
$form->setAttribute('method', 'post');
//$form->setAttribute('class', 'form-signin');

echo $this->form()->openTag($form); ?>

<?php echo $this->formLabel($form->get('username')); ?>
<?php echo $this->formElement($form->get('username'));
echo $this->formElementErrors($form->get('username')); ?>

<?php echo $this->formLabel($form->get('email')); ?>
<?php echo $this->formElement($form->get('email'));
echo $this->formElementErrors($form->get('email')); ?>

<?php echo $this->formLabel($form->get('timezone')); ?>
<?php echo $this->formElement($form->get('timezone'));
echo $this->formElementErrors($form->get('timezone')); ?>

<?php echo $this->formLabel($form->get('password')); ?>
<?php echo $this->formElement($form->get('password'));
echo $this->formElementErrors($form->get('password')); ?>

<?php echo $this->formLabel($form->get('confirmPassword')); ?>
<?php echo $this->formElement($form->get('confirmPassword'));
echo $this->formElementErrors($form->get('confirmPassword')); ?>


   



<?php echo $this->formElement($form->get('register'));
echo $this->formElementErrors($form->get('register')); ?>

<?php echo $this->form()->closeTag() ?> 
        
    




    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

