<!-- /view/application/search/error.phtml -->

<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>



<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="page-header">
            <h1>Результаты поиска:</h1>
        </div>
        Ничего не найдено.
        <br />
       
        
    </div>  <!-- col-sm-8 blog-main -->
    
</div>  <!-- row -->

