<!-- /view/application/search/index.phtml -->

<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>



<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="page-header">
            <h1>Результаты поиска:</h1>
        </div>
        <ul class="nav nav-pills" role="tablist">
            <li class="active" role="presentation">
                <a href="<?php echo $this->url('application/search',
                    array('action' => 'searchArticles')) . '?' . 'query=' . $query; ?>">
                    Статьи
                    <span class="badge"><?php echo $this->escapeHtml(count($articlesResults)); ?></span>
                </a>
            </li>
            <li role="presentation">
                <a href="<?php echo $this->url('application/search',
                    array('action' => 'searchImages')) . '?' . 'query=' . $query; ?>">
                    Картинки
                    <span class="badge"><?php echo $this->escapeHtml(count($imgResults)); ?></span>
                </a>
            </li>
        </ul>
        <br />
        <?php foreach($paginator as $article) : ?>
        <a class="list-group-item" href="<?php echo $this->url('application/article',
                array('action' => 'view', 'id' => $article->articleId)); ?>">
            <h4 class="list-group-item-heading"><?php echo $this->escapeHtml($article->title); ?></h4>
            <p class="list-group-item-text">
                <?php echo $this->htmlPurifier($this->cutText($article->content,100)); ?>
            </p>
        </a>  <!-- blog-post -->
        <?php endforeach; ?>
        <?php   //блок для вывода пагинации из partial\partial.phtml
            // add at the end of the file after the table
            echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/searchPaginator.phtml',
                // the route to link to when a user clicks a control link
                array(
                    'route' => 'application/search',
                    'query' => $query,
                )
            );
        ?>
    </div>  <!-- col-sm-8 blog-main -->
    
</div>  <!-- row -->

