<!-- /view/application/search/search-images.phtml -->

<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>



<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="page-header">
            <h1>Результаты поиска:</h1>
        </div>
        Картинки
        <br />
        <?php foreach($paginator as $imageUpload) : ?>
        <a class="list-group-item" href="<?php echo $this->url('application/media',
                array('action' => 'view', 'id' => $imageUpload->imageId)); ?>">
            <h4 class="list-group-item-heading"><?php echo $this->escapeHtml($imageUpload->label); ?></h4>
            <p class="list-group-item-text">
                <img class="img-responsive" src="<?php echo $this->url('application/media', 
                    array('action' => 'showImage', 'id' => $imageUpload->imageId, 
                        'subaction' => 'thumb')); ?>" />
            </p>
        </a>  <!-- blog-post -->
        <?php endforeach; ?>
        <?php   //блок для вывода пагинации из partial\partial.phtml
            // add at the end of the file after the table
            echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/searchPaginator.phtml',
                // the route to link to when a user clicks a control link
                array(
                    'route' => 'application/search',
                    'action' => 'searchImages',
                    'query' => $query,
                )
            );
        ?>
    </div>  <!-- col-sm-8 blog-main -->
    
</div>  <!-- row -->

