<!-- Application/view/application/login/login.phtml -->

<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/signin.css'); ?>
<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>


<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<?php if ($this->description) : ?>
<p class="error">
    <?php echo $this->escapeHTML($this->description); ?>
</p>
<?php endif; ?>
        
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('application/login', array('action' => 'process')));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'form-signin');

echo $this->form()->openTag($form); ?>

<h2 class="form-signin-heading"><?php echo $this->translate('Please sign in'); ?></h2>

<?php //echo $this->formLabel($form->get('email')); ?>
<?php echo $this->formElement($form->get('email'));
echo $this->formElementErrors($form->get('email')); ?>

<?php //echo $this->formLabel($form->get('password')); ?>
<?php echo $this->formElement($form->get('password'));
echo $this->formElementErrors($form->get('password')); ?>

<div class="checkbox">
    <?php echo $this->formElement($form->get('checkbox'));
    echo $this->formElementErrors($form->get('checkbox')); ?>
    <?php echo $this->formLabel($form->get('checkbox')); ?>
</div>


<?php echo $this->formElement($form->get('signIn'));
echo $this->formElementErrors($form->get('signIn')); ?>

<?php echo $this->form()->closeTag() ?> 
        
    




    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

