<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Blog-Note.ru'. $this->translate(' Learn programming'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/carousel.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        
        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">

                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" 
                            aria-controls="navbar" aria-expanded="false"
                            data-target="#navbar" data-toggle="collapse"
                            type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                        </button>
                        <a class="navbar-brand" href="<?php echo $this->url('application'); ?>">Blog-Note.ru</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="<?php echo $this->url('application'); ?>"><?php echo $this->translate('Home') ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('application/login'); ?>"><?php echo $this->translate('Log in') ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('application/register'); ?>"><?php echo $this->translate('Register') ?></a>
                            </li>
                        </ul>
                        
                        <?php $form = $this->form;
                        $form->prepare();
                        $form->setAttribute('action', $this->url('application/search'));
                        $form->setAttribute('method', 'post');
                        echo $this->form()->openTag($form); ?>
                        
                        <div class="form-group">
                            <?php echo $this->formElement($form->get('searchQuery')); ?>
                        </div>
                        
                        <?php echo $this->formElement($form->get('find'));
                        echo $this->formElementErrors($form->get('find'));
                        echo $this->form()->closeTag(); ?>
                    </div>
                

            </nav>
            
            <?php if ($this->error) : ?>
                <div class="alert alert-warning" role="alert">
                    <?php echo $this->formElementErrors($form->get('searchQuery')); ?>
                </div>
            <?php endif; ?>
            
            <?php echo $this->content; ?>
            
            <hr />
            <footer>
                <p>&copy; 2015 - <?php echo date('Y') ?> by Blog-Note.ru <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div>   <!-- container --> 
        
        
        <?php echo $this->inlineScript() ?>
    </body>
</html>
