<!-- Application/view/application/archive/index.phtml -->
<div class="sidebar-module">
    <?php   
    foreach ($dates as $year => $months) { ?>
    <a href="<?php echo $this->url('application/archive',
        array('action' => 'index', 'year' => $year)); ?>">
        <?php echo $this->escapeHtml($year); ?></a>
    <ol class="list-unstyled">
        <li>
            <ul>
                <?php foreach ($months as $monthAr) {
                    foreach ($monthAr as $month => $total) { ?>
                        <li>
                            <a href="<?php echo $this->url('application/archive',
                                array('action' => 'index', 'year' => $year, 'month' => $month)); ?>">
                                <?php echo $this->escapeHtml($this->getRusMonth($month)); ?></a>
                            (<?php echo $this->escapeHtml($total); ?>)
                        </li>
                    <?php }     
                } ?>
            </ul>
        </li>  
    </ol>
    <?php } ?>
</div>