<!-- Application/view/application/media/delete.phtml -->

<?php echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>


<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<?php if ($this->description) : ?>
<p class="error">
    <?php echo $this->escapeHTML($this->description); ?>
</p>
<?php endif; ?>
        
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('application/media', array('action' => 'delete')));
$form->setAttribute('method', 'post');
//$form->setAttribute('class', 'form-signin');

echo $this->form()->openTag($form); ?>

<h3><?php echo $this->escapeHtml($imageUpload->label); ?></h3>
<h4><?php echo $this->translate('Delete?'); ?></h4>
<br />

<?php //echo $this->formLabel($form->get('id')); ?>
<?php echo $this->formElement($form->get('id'));
echo $this->formElementErrors($form->get('id')); ?>

<?php //echo $this->formLabel($form->get('action')); ?>
<?php echo $this->formElement($form->get('action'));
echo $this->formElementErrors($form->get('action')); ?>



<?php echo $this->formElement($form->get('confirm'));
echo $this->formElementErrors($form->get('confirm')); ?>

<?php echo $this->form()->closeTag() ?> 
        
    




    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

