<!-- Application/view/application/media/getlink.phtml -->

<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>



<div class="row">
    <div class="col-sm-8 blog-main">
        <p>
            <?php echo $this->link; ?>
        </p>
        <p>
            <textarea class="form-control" cols="50" rows="3" readonly=""><?php echo $this->link; ?></textarea>
        </p>
        <hr>
        <p>
            <a class="btn btn-default" role="button" href="<?php echo $this->url('application/media',
                array('action' => 'index')); ?>"><-Галерея</a>
        </p>
    </div>  <!-- col-sm-8 blog-main -->
    
</div>  <!-- row -->



    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

