<!-- Application/view/application/media/index.phtml -->
<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>
<?php //echo $this->headLink()->prependStylesheet($this->basePath() . '/css/carousel.css'); ?>

<?php //echo $this->headScript()->prependFile($this->basePath() . '/js/ie-emulation-modes-warning.js') ?>

<!--<div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>-->


<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!--    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
        <li class="" data-slide-to="1" data-target="#myCarousel"></li>
        <li class="" data-slide-to="2" data-target="#myCarousel"></li>
    </ol>-->
    <div class="carousel-inner" role="listbox">
        <?php $records = array(); ?>
        <?php foreach ($paginator as $record) :
            $records[] = $record;
        endforeach; 
        $iteration = null; ?>
        <?php foreach($records as $imageUpload) : ?>
        <div class="<?php echo $iteration===null ? 'item active' : 'item' ?>">
            <img src="<?php echo $this->url('application/media', 
                    array('action' => 'showImage', 'id' => $imageUpload->id, 
                        'subaction' => 'full')); ?>" >
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>
                        Note: If you're viewing this page via a
                        <code>file://</code>
                        URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" role="button" href="#">Sign up today</a>
                    </p>
                </div>  <!-- carousel-caption -->
            </div>  <!-- container -->
        </div>  <!-- item -->
        <?php ++$iteration ?>
        <?php endforeach; ?>
    </div>  <!-- carousel-inner -->
    <a class="left carousel-control" data-slide="prev" role="button" href="#myCarousel">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-slide="next" role="button" href="#myCarousel">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>  <!-- carousel slide -->

<div class="row">   
    <?php foreach($records as $imageUpload) : ?>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <p>
                <a href="<?php echo $this->url('application/media', 
                    array('action' => 'view', 'id' => $imageUpload->id)); ?>">
                        <img class="img-responsive" src="<?php echo $this->url('application/media', 
                    array('action' => 'showImage', 'id' => $imageUpload->id, 
                        'subaction' => 'thumb')); ?>" />
                </a>
            </p>
            <p class="small">
                <?php echo $this->escapeHtml($imageUpload->label); ?>
                <br>
                <?php echo $this->escapeHtml($this->FormatDate($imageUpload->uploaded)); ?>
                <br>
                Загрузил: <?php echo $this->escapeHtml($this->GetUser($imageUpload->authorId)->username); ?>
                <br>
                <?php echo $this->escapeHtml($this->url('application/media', 
                    array('action' => 'showImage', 'id' => $imageUpload->id), array('force_canonical' => true))); ?>
                
            </p>
            <p>
                <a class="btn btn-default btn-xs" role="button" href="<?php echo $this->url('application/media', 
                    array('action' => 'showImage', 'id' => $imageUpload->id), array('force_canonical' => true)); ?>">Скачать</a>
                <a class="btn btn-default btn-xs" role="button" href="<?php echo $this->url('application/media', 
                    array('action' => 'getlink', 'id' => $imageUpload->id)); ?>">Код для блога</a>
            </p>
        </div>    
    <?php endforeach; ?>
</div>  <!-- row -->
<hr>
<?php if($addPermission===true) { ?>
    <p>
        <a class="btn btn-default" role="button" href="<?php echo $this->url('application/media',
            array('action' => 'upload')); ?>">Загрузить изображение</a>
    </p>
<?php } ?>

<?php   //блок для вывода пагинации из partial\partial.phtml
    // add at the end of the file after the table
    echo $this->paginationControl(
        // the paginator object
        $this->paginator,
        // the scrolling style
        'sliding',
        // the partial to use to render the control
        'partial/paginator.phtml',
        // the route to link to when a user clicks a control link
        array(
            'route' => 'application/media'
        )
    );
?>
    
    


