<!-- Application/view/application/media/upload.phtml -->

<?php //echo $this->headLink()->appendStylesheet($this->basePath() . '/css/blog.css'); ?>

<?php if ($this->error) : ?>
<p class="error">
    There were one or more issues with your submission. Please correct them as
    indicated below.
</p>
<?php endif; ?>

<div class="row">
    <div class="col-sm-8 blog-main">
        
        <h2><?php echo $this->translate('Upload image') ?></h2>
        
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('application/media', array('action' => 'upload')));
        $form->setAttribute('method', 'post');

        echo $this->form()->openTag($form); ?>
        
        <?php echo $this->formElement($form->get('id')); ?>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('label')); ?>
            <?php echo $this->formElement($form->get('label'));
            echo $this->formElementErrors($form->get('label')); ?>
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('imageupload')); ?>
            <?php echo $this->formElement($form->get('imageupload'));
            echo $this->formElementErrors($form->get('imageupload')); ?>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        
        
        <div class="form-group">
            <?php echo $this->formElement($form->get('submit'));
            echo $this->formElementErrors($form->get('submit')); ?>
        </div>
        
        <?php echo $this->form()->closeTag() ?> 
        
    </div>  <!-- col-sm-8 blog-main -->
    
</div>  <!-- row -->



    

        
        
        
        


    
    
    
    
    
    
    
    
    
    
    
    

