<!-- Application/view/application/media/view.phtml -->


<section class="upload">
    <h2><?php echo $this->escapeHtml($imageUpload->label);?></h2>
    <h4><?php echo $this->escapeHtml($imageUpload->filename);?></h4>
    <img src="<?php echo $this->url('application/media',
        array('action'=>'showImage', 'id' => $imageUpload->id, 'subaction' => 'full'));?>" />
    <br />
    <?php if($deletePermission===true) { ?>
        <a class="btn btn-default btn-xs" role="button" href="<?php echo $this->url('application/media', 
            array('action' => 'delete', 'id' => $imageUpload->id), array('force_canonical' => true)); ?>">Удалить</a>
    <?php } ?>                  
</section>

<hr>
<p>
    <a class="btn btn-default" role="button" href="<?php echo $this->url('application/media',
        array('action' => 'index')); ?>">Галерея</a>
</p>

<br />
<br />


     
    