<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button class="btn btn-primary btn-xs" 
                data-toggle="offcanvas" type="button">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example</p>
        </div>  <!-- jumbotron -->
        <div class="row">
            <?php foreach ($this->paginator as $article) : ?>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <h4><?php echo $this->escapeHtml($this->cutText($article->title, 40)); ?></h4>
                <p>
                    <?php echo $this->htmlPurifier($this->cutText($article->content, 350)); ?>
                </p>
                <p>
                    <a class="btn btn-default" role="button" href="<?php echo $this->url('application/article',
                        array('action' => 'view', 'id' => $article->id)); ?>">View article </a>
                </p>
            </div>
            <?php endforeach; ?>
        </div>  <!-- row -->
        <?php   //блок для вывода пагинации из partial\partial.phtml
            // add at the end of the file after the table
            echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/paginator.phtml',
                // the route to link to when a user clicks a control link
                array(
                    'route' => 'application'
                )
            );
        ?>
    </div>  <!-- col-xs-12 col-sm-9 -->
    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <div class="list-group">
            <a class="list-group-item" href="<?php echo $this->url('application/article'); ?>">Статьи</a>
            <a class="list-group-item" href="<?php echo $this->url('application/media'); ?>">Галерея</a>
            <a class="list-group-item" href="#">Форум</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
            <a class="list-group-item" href="#">Link</a>
        </div>  <!-- list-group -->
    </div>  <!-- sidebar -->
</div>  <!-- row row-offcanvas row-offcanvas-right -->